<!DOCTYPE html>
<html>
  <head>
    <title>Canyon</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <h1>Canyon trip itinerary and menu <!--a href="https://docs.google.com/spreadsheet/ccc?key=0AtyCBJLCFHlwdHRsU0VWRFkySk1ydjB3REdBX3VYR0E&hl=en_US#gid=2">Edit</a--></h1>
    <p id="meals">Meal codes reference the <a href="http://www.proriver.com/food_pack/PRO_Menu.pdf">PRO Master Menu</a></p>
    <ul>
<%=
    days.rows.each_with_index.map do |day, i|
      erb :day, :locals => { :day => day, :i => i }
    end.join("\n")
%>
    </ul>
  </body>
</html>
