/************/

body {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 16px;
}

h1 a {
  font-weight: normal;
  color: blue;
}

h2 {
  background: #eee;
  margin: 0 0 10px;
  padding: 10px;
  font-size: 16px;
  overflow: auto;
  border-top: 5px solid black;
}

body ul {
  list-style: square;
}
